@use "../variables" as v;

@mixin label() {
  label {
    position: absolute;
    margin: 10px 20px;
    font-weight: 500;
  }
  label#check-terms {
    margin: 0 !important;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    border: 0px solid red;
    width: 100%;
    &[type="checkbox"]{
      background: red;
    }
  }
}
